/** @format */

.bus-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f8fafc;
  border-radius: 16px;
  padding: 1.2rem 2rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  color: black;
  margin-bottom: 20px;
}

.bus-info {
  flex: 1;
}

.bus-info h3 {
  font-weight: 600;
  margin-bottom: 0.2rem;
}

.bus-info p {
  margin: 0.1rem 0;
  font-size: 0.9rem;
  color: #444;
}

.bus-details {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 88%;
  gap: 3rem;
}

.bus-details h3 {
  font-size: 18px;
  margin-bottom: 0.3rem;
  font-weight: 600;
  color: black;
}

.bus-details p {
  color: black;
  margin: 0;
}

.left-cont {
  text-align: left;
}

.bus-desc {
  width: 30%;
  text-align: center;
}

.bus-desc .route-via {
  color: black;
  font-weight: 600;
  margin: 0;
}

.book-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-now {
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.seat-btn {
  background: #2f70b5;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 0.6rem 1rem;
  cursor: pointer;
  font-weight: 600;
}

.seat-btn:hover {
  background: #1e5494;
}
