.bus-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  width: 80%;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

.bus-img {
  width: 90px;
  height: 60px;
}

.bus-info {
  flex-grow: 1;
  padding-left: 20px;
  text-align: left;
}

.seat-btn {
  background: #007bff;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
