/** @format */

.bus-search-form {
  /* background: white; */
  padding: 1.5rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  width: 75%;
  margin: 0 auto;
  /* color: #222; */
  /* box-shadow: 0 2px 12px rgba(0, 0, 0, 0.25); */
  background: linear-gradient(to right top);
   backdrop-filter: blur(4px);
}

.bus-search-form input[type="text"],
.bus-search-form input[type="date"] {
  padding: 0.6rem;
  border-radius: 6px;
  border: 1px solid #bbb;
  width: 160px;
  font-size: 0.95rem;
}

.passenger-control {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #bbb;
  border-radius: 6px;
  padding: 0.4rem 0.8rem;
}

.passenger-control button {
  background-color: #007bff;
  color: white;
  border: none;
  font-size: 1rem;
  padding: 0 8px;
  cursor: pointer;
  border-radius: 4px;
}

.checkboxes {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #333;
  font-size: 0.9rem;
}

.search-btn {
  /* width: 100%; */
  background-color: #007bff;
  color: white;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.search-btn:hover {
  background-color: #0056b3;
}
