/** @format */

.educational-trip-container {
  position: relative;
  top: 70px;
  max-width: 750px;
  /* max-width: 96%;
  min-width: fit-content; */
  margin: 40px auto;
  padding: 25px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.educational-trip-form label {
  display: block;
  margin-bottom: 12px;
}

.educational-trip-form input,
.educational-trip-form select {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.form-section {
  /* margin-bottom: 25px; */
  /* max-width: 400px; */
  margin: 0 auto;
}

.form-section h3 {
  margin-bottom: 20px;
  text-align: center;
}

button {
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  background: #007bff;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: #0056b3;
}

.success-message {
  text-align: center;
  padding: 30px;
  background: #f0f9f5;
  border: 1px solid #b2e1c5;
  border-radius: 8px;
}

.register-btn {
  background-color: #007bff;
  border-radius: 10px;
}


