/** @format */

.seat-layout {
  display: grid;
  grid-template-columns: repeat(5, 70px);
  gap: 10px;
  margin: 20px 0;
}

.seat {
  width: 70px;
  background: #e3e3e3;
  border-radius: 6px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.seat.selected {
  background: #4caf50;
  color: white;
  transform: scale(1.1);
}

.seat.booked {
  background-color: #6d6d6d !important;
  cursor: not-allowed;
  opacity: 0.6;
  pointer-events: none;
}
