/** @format */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-container {
  background: white;
  border-radius: 10px;
  width: 90%;
  max-width: 1100px;
  padding: 20px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
}

.close-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.modal-content {
  display: flex;
  gap: 30px;
}

.seat-layout {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  gap: 10px;
}

.seat {
  background: #fff;
  border: 1px solid #198754;
  border-radius: 6px;
  padding: 8px;
  text-align: center;
  cursor: pointer;
}

.seat.selected {
  background: #198754;
  color: white;
}

.passenger-form {
  flex: 1;
  max-height: 400px;
  overflow-y: auto;
}

.passenger-card {
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 10px;
  background: #fafafa;
}

.payment-summary {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background: #f6f6f6;
  border-top: 1px solid #ddd;
}

.payment-summary button {
  background: #e63946;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
}
