/* .stop-management {
  background: #f5f7fa;
  border-radius: 8px;
  padding: 10px;
  margin-top: 10px;
}

.stop-form input {
  margin: 5px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.stop-list {
  margin-top: 10px;
  list-style: none;
  padding: 0;
}

.stop-item {
  display: flex;
  justify-content: space-between;
  background: #fff;
  margin: 5px 0;
  padding: 6px 10px;
  border-radius: 5px;
} */
